body {
    margin: 0;
    font-size: medium;
    background-color: aquamarine;
}

header {
    background-color: black;
    color: white;
    padding: 2em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  
  