body {
    margin: 0;
    font-size: medium;
    background-color: aquamarine;
}


header {
    background-color: black;
    color: rgb(238, 12, 12);
    padding: 2em;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  
  footer {
    background-color: black;
    padding: 1em;
    text-align: center;
    color: white;
  }
  
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  main {
    background: var(--light-green);
    animation: fadeIn 1.5s;
    padding: 137px 0 0;
  }
  

/* -- Grid items -- */

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 1em;
  }

  .grid-item {
    box-shadow: 1px 1px 8px black;
    padding: 1.5em;
    background-color: white;
    transition: 0.5s;
    animation: fadeIn 0.5s;
    cursor: pointer;
  }